body{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

div {
    color: rgb(87, 92, 77);
}

p {
    color: rgb(3, 3, 3);
}

li {
    color: rgb(140, 140, 155);
    text-align: left;
    margin-left: 50px;
}

.li {
    color:black;
    text-align: left;
}

h1{
    border-style:solid;
    border-color:black;
    border-radius: 5px;
    padding: 5px;
    background-color: lightgray;
}

img{
    border-radius: 5px;
}