div {
    color: rgb(87, 92, 77);
}

p {
    color: red;
}

li {
    color: blue;
}

.li {
    color:black;
}

h1{
    border-style:solid;
    border-color:black;
    border-radius: 5px;
    padding: 5px;
    background-color: lightgray;
}

img{
    border-radius: 5px;
}